<div class="navbar"> 
  <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="linklist leftside">
      <li>
        <a href="{U_SP_NAV_HOME}">{L_SPORTS_PREDICTIONS_HOME}</a> &bull; 
		<a href="{U_SP_NAV_FULL_LEADERBOARD}">{L_FULL_LEADERBOARD_LINK}</a> &bull; 
        <a href="{U_SP_NAV_PREDICT}">{L_MAKE_PREDICTIONS}</a> &bull; 
        <a href="{U_SP_NAV_EDIT_PREDICTIONS}">{L_EDIT_PREDICTIONS}</a>
      </li>
    </ul>
	<form name="change_league" method="post" action="{U_ACTION}">
	<div class="change_league">
		<select id="league_id" name="league_id">{S_LEAGUE_OPTIONS}</select>
		&nbsp;
		<input id="change_league" type="submit" name="change_league" value="Change League" />
	</div>
	</form>
  <span class="corners-bottom"><span></span></span></div> 
</div>